/*
Contact webpage
*/

.col-2 {
    display: none;
  }
  

@media (min-width: 992px) {
    .col-2 {
      display: block; /* Display the component when the screen width is 768px or wider */
    }
  }
  

p {
    font-family: monospace;
    font-size: 1.563rem;
}

h1, h2, h3, h4 {
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline;
}

button, a {
    font-family: monospace;

}

.links:hover{
    scale: 1.1;
}


.repo {    
    background-color: #2b3035;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    border-radius : 0.625rem;
    color: white;
    text-decoration : none;
    margin: 1.25rem 1.25rem 1.25rem 0;
    transition: .2s ease-in-out;
}

.repo:hover{
    background-color: rgba(0, 0, 0, .7);
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover{
    color: lightgray;
}

.sbmt {
    background-color: #2b3035;
    color: white;
    width: 8.125rem;
    height: 2.188rem;
    border-radius: 0.625rem;
    transition: 0.2s ease-in-out;
}

.sbmt:hover{
    background-color: rgba(0, 0, 0, .7);
}

.musicBox {    
    background-color: white;
    width: 16.875rem;
    height: 6.25rem;
    text-decoration: none;
    padding: 0.625rem;
    margin: 0 0.938rem 0.938rem 0.938rem;
    border-radius: 0.625rem;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.563rem;
    transition: .2s ease-in-out;
}

.musicBox:hover {
    background-color: rgba(0, 0, 0, .2);
}


.prjImg {
    margin: 0.625rem;
}